
    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <%=image_tag 'logo.png'%>
          <a class="link-1" href="#">About Budgety</a>
          <a href="#">Jobs</a>
          <a href="#">FAQ</a>
          <a href="#">Contact</a>
        </p>

        <p>Budgety &copy; 2019</p>
      </div>

    </footer>
