
<div class="col-6 col-lg-6 my-2 pr-3">
  <div
    id="map"
    style="width: 100%;
    height: 642px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>


    <div
      id="map"
      style="height: 100vh;
      position: sticky;
      top: 0;
      width: 50%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
