.cards-container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.card-experience {
  overflow: hidden;
  background: transparent;
  position: relative;
  margin-right: 20px;
  width: 300px;
  font-size: 12px;
  margin-right:25px;
}

.card-experience img {
  width: 300px;
  height: 200px;
}

.card-experience h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-experience p {
  margin-bottom: 0;
}

.card-price {
  color:#188FA7;
  font-size: 40px;
  font-weight: bold;
}

.category-card {
  color: white;
  background: #1C448E;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  top:0;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  display: grid;
}

.card-events {
  width: 300px;
  font-size: 12px;
  margin-right:-37px;
  margin-left:62px;
  height:195px;
}

.card-events img {
  max-width: 50%;
}

