.category-container {
  margin-top: 10px;

}

.category {
  border-radius: 6px;
  position: relative;
  height: 150px;
  width: 220px;
  margin: 5px 5px;
  background-size: cover;
  background-position: center;
}

.category img {
  height: 150px;
  width: 220px;
  border-radius: 12px;
}
.category h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}



.cards-container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.card-experience {
  overflow: hidden;
  background: transparent;
  position: relative;
  margin-right: 20px;
  width: 300px;
  font-size: 12px;
  margin-right:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-experience img {
  width: 300px;
  height: 200px;
  padding-right: 20px;
  padding-top: 10px;
}

.card-experience h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-experience p {
  margin-bottom: 0;
}

.card-price {
  color:black;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
}

.category-card {
  color: white;
  background: #FF0505;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  top:10px;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  display: grid;
}

.card-events {
    background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-events-heading {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  font-style: italic;
  text-shadow:
     2px  2px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     margin-top: 18px;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 8px;
  padding: 10px 10px;
}


.heart {
  position: absolute;
  top: 10px;
  font-weight: bold;
  right: 12px;
}

.fa-heart {
  font-size: 38px;
  color: white;

}
// /////////////////////////


/******* Card Experience here *********/
.card-experience-show {
  overflow: hidden;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px;
  margin-left: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box1 {
  width: 100%;
}


.card-experience-show-photo {
  height: 80%;
  width: 100%;
  margin-bottom: 15px;
  object-fit: cover;
}

.card-experience-show-price {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  margin: 3px 10px;
}

.card-experience-show-actions {
  text-align: center;
  font-size: 14px;
  margin: 5px 5px;
}

.card-experience-category {
  color: white;
  background: #FD0F15;
  opacity: 0.6;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 2px;
  font-size: 10px;
}

.card-experience-show-title {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
}

.card-experience-show-info {
  font-size: 14px;
  opacity: .5;

  margin: 5px 10px;
}

.experience-time {
  display: flex;
  margin-left: 2px;
}

.experience-location {
  display: flex;
  margin-left: 2px;
}

/******* Icon here *********/

.icon {
  margin-right: 15px;
  opacity: 0.6;
}


/******* Experience rating here *********/
.experience-rating {
  height: 100%;
  padding: 10px;
  margin: 30px;
  margin-left: 70px;
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.rating-box1 h2 {
  font-size: 24px;
  font-weight: bold;
}
.rating-reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.rating-reviewer p {
  margin: 10px 5px 10px 10px;
}


.rating-box2 {
  margin-left: 100px;
}

.rating-info{
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
}

/******* Card Map here *********/

#map {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  margin-top: 20px;
  margin-right: 70px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}





