
/******* Home Page here *********/

.home-container {
// padding-left: 30px;
}

.cards-home{
  display: grid;
  grid-template-columns: repeat(8, 0.5fr);
  grid-auto-rows: auto;
  // grid-gap: 1rem;
  grid-gap: 10px 5px;
  justify-item: start;
}

.cards-categories {
  padding: 10px 32px;
  display: grid;
  grid-template-columns: repeat(12, 0.5fr);
  grid-auto-rows: auto;
  // grid-gap: 1rem;
  grid-gap: 10px 5px;
  overflow-x: scroll;
  width: 100%;
}

.category-container {
  margin-top: 10px;

}

.category {
  border-radius: 6px;
  position: relative;
  height: 150px;
  width: 220px;
  margin: 5px 5px;
  background-size: cover;
  background-position: center;
}

.category img {
  height: 150px;
  width: 220px;
  border-radius: 12px;
}
.category h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}


.cards-container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.card-experience {
  height: 400px;
  overflow: hidden;
  background: transparent;
  position: relative;
  margin-right: 20px;
  width: 300px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-experience img {
  width: 300px;
  height: 200px;
  padding-right: 20px;
  padding-top: 10px;
}

.card-rating{
  margin-bottom: 10px;
}
.card-experience h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-experience p {
  margin-top: 1px;
  margin-bottom: 0.6rem;
  opacity: 0.6;
}

.card-price {
  color:black;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  margin-top: 0.6rem;
}

.card-price p {
  margin-top: 0.6rem;
  opacity: 0.6;
}


.category-card {
  color: white;
  background: #FF0505;
  opacity: 0.85;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 1px;
  font-weight: bold;
  position: absolute;
  top:10px;
}



.card-events {
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 230px;
  display: inline-block;
  vertical-align:top;
  align-items: center;
  position: relative;

  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-events-heading {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 28px;
  text-shadow: 4px 10px 15px rgba(89,89,89,0.94);
  font-style: italic;
  // position: absolute;

  // left: 50%;
  // margin-left: -50px;
  // top: 50%;
  // margin-top: -50px;
  // text-center: center;

  // display: inline-block;
  // padding-top: 20%;
}

.card-events-heading p {
  text-center: center;
}

// .container {
//   position: relative;
// }

// .centered-element {
//   height: 100px;
//   width: 100px;
//   position: absolute;
//   left: 50%;
//   margin-left: -50px;
//   top: 50%;
//   margin-top: -50px;
// }

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 8px;
  padding: 10px 32px;
  opacity: 0.7;
}


.heart {
  position: absolute;
  top: 10px;
  font-weight: bold;
  right: 12px;
}

.fa-heart {
  font-size: 38px;
  color: white;

}


///////////////////////////////


/******* Card Experience here *********/
.card-experience-show {
  overflow: hidden;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px;
  margin-left: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box1 {
  width: 100%;
}


.card-experience-show-photo {
  height: 80%;
  width: 100%;
  margin-bottom: 15px;
  object-fit: cover;
}

.card-experience-show-price {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  margin: 3px 10px;
}

.card-experience-show-actions {
  text-align: center;
  font-size: 14px;
  margin: 5px 5px;
}

.card-experience-category {
  color: white;
  background: #FD0F15;
  opacity: 0.6;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 2px;
  font-size: 10px;
}

.card-experience-show-title {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
}

.card-experience-show-info {
  font-size: 14px;
  opacity: .5;
  margin: 5px 10px;
}

.experience-time {
  display: flex;
  // margin-left: 2px;
  // align-items: center;
  text-center: center;
}

.experience-location {
  display: flex;
  // margin-left: 50px;
  text-center: center;
}

.experience-date {
  margin-left: 2px;
  text-center: center;

}

/******* Icon here *********/

.icon {
  margin-right: 15px;
  opacity: 0.6;
}


/******* Experience rating here *********/
.experience-rating {
  height: 100%;
  padding: 10px;
  margin: 30px;
  margin-left: 70px;
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.rating-box1 h2 {
  font-size: 24px;
  font-weight: bold;
}
.rating-reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.rating-reviewer p {
  margin: 10px 5px 10px 10px;
}


.rating-box2 {
  margin-left: 100px;
}

.rating-info{
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
}

/******* Card Map here *********/

#map {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  margin-top: 20px;
  margin-right: 70px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/******** Card Payment here ******/

.card-payment {
  overflow: hidden;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 80px;
  margin: 20px;
  margin-left: 295px;
  width: 75%;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-payment-title {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
}
.card-payment-box {
  width: 100%;
  margin-top: -46px;
}

.card-payment-show-photo {
  height: 80%;
  width: 100%;
  margin-bottom: 15px;
  object-fit: cover;
}

/********** Sign Up ***************/

.card {
  opacity: 0.8;
  margin: 60px 0px;
  padding: 60px 40px;
  margin-left: 72px;
}

.card h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #F60404;
  margin-bottom: 24px;
}

//******* Create an Organisation *******

.card2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    opacity: 0.8;
    margin: 60px 0px;
    padding: 60px 40px;
    margin-left: -75px;
}

.card2 h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #F60404;
  margin-bottom: 24px;
}

