.tagline h1 {
  font-size: 50px;
}

.tagline p {
  font-size: 30px;
}


.form-and-logo {
  margin: 0;
}

.navbar-bg {
  background: white;
  border-bottom: solid #CC1414 1px ;
  padding: 0;
  width: 100vw;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.nav-links-white a {
  color: black;
}
.nav-links-drk a {
  color: #6F8695;
}

.nav-items {
  width: 1300px;
  margin: 0 auto;
}


.input-location-icon input{
  padding-left: 40px;
}

.input-location-icon  {
  position: relative;
}

.input-location-icon i {
  font-size: 22px;
  color: #6F8695;
  position: absolute;
  top: 4px;
  left: 10px;
}

.pound-btn {
 background-color: transparent;
 border: transparent;

}

.pound-btn i {
  font-size: 24px;
  color: white;
}

.nav-form {

}

.nav-avatar {

}

.nav-form input {
  height: 28px;
  width: 120px;
}

body {
  background-color: white;
}

.navbar-details {
  margin-top: 12px;
}
