
// Overall box


.org-box{
  padding: 20px 40px 10px 100px;
  margin: 30px;
  justify-content: center;
}



// Greetings to host with listings
.org-greeting {
  // font-family: 'Playfair Display', serif;
  margin-bottom: 80px;
  color: white;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 5px;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);

}



  // color: white;


  // font-size: 28px;
  // text-align: center;
  // display: inline-block;
  // padding-top: 20%;
  // font-style: italic;
  // text-shadow: 4px 10px 15px rgba(89,89,89,0.94);

// Displaying Organisation infor and experiences side by side
.org-flex1 {
  // display: inline-block;
  // vertical-align:top;
  padding-right: 50px;
  padding-bottom: 80px;
}


// Organisation information card

.org-photo img {
  // padding: 10px 0px 10px 0;
  border-radius: 16px;
}

.org-info-card{
  width: 100%;
  padding: 10px 0px 10px 2px;
  margin: 5px 5px 10px 5px;

}


.org-title {
  // font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #F60404;
  font-style: bold;
  // margin-bottom: 24px;
}



.org-location {
  margin-top: 15px;
  text-align: center;
}

.org-rating {
  text-align: center;
}

.org-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 15px;
}

.org-actions2 {
  // display: flex;
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  // align-items: center;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 7px;
}

.org-create {
  text-size: 8px;
  font-style: italic;
  opacity: 0.5;
  margin-top: 10px;
}

.org-button {
  margin-top: 10px;
  width: 150px;
  text-size: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

// Box 2 - Experiences per Organisation

.org-flex2 {
  // display: flex;
  // justify-content: space-evenly;
  // align-items: flex-start;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;

}

.org-experience-title {
  font-size: 12px;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 3px 0px  15px 0px;

}

#org-subheading {
  text-align: left;
  text-size: 12px;
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 26px;
}

.org-experience-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 10px;
  margin: 5px 0px 15px 0px;
  width: 100%;
  font-size: 10px;
  line-height: 0;
  word-wrap: break-word;
}


// .org-experience-photo {
//   height: 50px;
//   width: 100px;
// }

.org-experience-card p {
  margin-top: 2px;
  margin-bottom: 0.6rem;
}




//  Orders - displaying infor and reviews side by side

.order-card {
  padding: 20px 50px;

}

.org-flex3 {
  display: inline-block;
  vertical-align:top;
  // padding-right: 50px;
  // padding-bottom: 80px;
}

.order-review-card {
  padding-left: 100px;
  color: #B6B6B6;
}


.order-greeting {

}

.order-line hr {
  background: #FA8072;
}


